<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Inicio</title>
    <!-- BOOTSTRAP CSS, DO NOT DELETE -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/custom2.css">
</head>

<body>


<div class="container" >
      
            
			
    <!--SIDEBAR-->
<div id="sidebar2">
</div>
    <div id="sidebar3">
        <div class="sidebar-header text-center py-5">
            <h1>LOGO</h1>
        </div>
        <div class="text-center py-3">
            
            <p class="h6"><br> <br> <br> <br><br> <br><br> <br> <br> <br> <br> </p>
        </div>
		<div class="container">
  <div class="row">
    <div class="col-sm">
        
		<form method="POST">
    
	  {% csrf_token %}

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
  {% endfor %}

  {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>
  {% endif %}

  {% for field in form.visible_fields %}
    <div class="form-group">
      {{ field.label_tag }}

      {% if form.is_bound %}
        {% if field.errors %}
          {% render_field field class="form-control bg-light px-2 " %}
          {% for error in field.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}
        {% else %}
          {% render_field field class="form-control bg-light px-2 " %}
        {% endif %}
      {% else %}
        {% render_field field class="form-control bg-light px-2" %}
      {% endif %}

      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>
  {% endfor %}
	
  
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>

        <ul class="list-unstyled text-center py-4">
		¿No tienes cuenta? &nbsp;
            <a href="/app/registro"><button type="button" class="btn btn-primary">Crear cuenta</button></a>
        </ul>
		
    </nav>
	<!--
	<nav id="sidebar2">
<div class="sidebar-header text-center py-4">
    <br>
            <h1>Acerca del proyecto</h1>
        </div>
		
		<div class="sidebar-header text-center px-4">
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu augue ut lectus arcu bibendum. Diam quis enim lobortis scelerisque fermentum dui. Nibh sed pulvinar proin gravida hendrerit lectus a. Ultricies integer quis auctor elit sed. Facilisis gravida neque convallis a cras. Proin nibh nisl condimentum id venenatis a condimentum. Lobortis elementum nibh tellus molestie nunc. Curabitur vitae nunc sed velit dignissim. Sit amet volutpat consequat mauris nunc congue. Varius vel pharetra vel turpis nunc eget. Amet porttitor eget dolor morbi. Cursus vitae congue mauris rhoncus aenean vel elit scelerisque mauris. Venenatis urna cursus eget nunc scelerisque viverra mauris in.</h4>
        </div>
		<div class="sidebar-header text-center py-5">
            <h1>Recoleccion de datos</h1>
        </div>
		
		<div class="sidebar-header text-center px-4">
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu augue ut lectus arcu bibendum. Diam quis enim lobortis scelerisque fermentum dui. Nibh sed pulvinar proin gravida hendrerit lectus a. Ultricies integer quis auctor elit sed. Facilisis gravida neque convallis a cras. Proin nibh nisl condimentum id venenatis a condimentum. Lobortis elementum nibh tellus molestie nunc. Curabitur vitae nunc sed velit dignissim. Sit amet volutpat consequat mauris nunc congue. Varius vel pharetra vel turpis nunc eget. Amet porttitor eget dolor morbi. Cursus vitae congue mauris rhoncus aenean vel elit scelerisque mauris. Venenatis urna cursus eget nunc scelerisque viverra mauris in.</h4>
        </div>
	
	</nav>
	-->

    
  



    </div>




<!-- BOOTSTRAP JS, DO NOT DELETE -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/toggleName.js"></script>
</body>

</html>