<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nombre de la app</title>
    <!-- BOOTSTRAP CSS, DO NOT DELETE -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/custom2.css">
</head>

<body>


<div class="container">
      
            
			
    <!--SIDEBAR-->
    <nav id="sidebar">
        <div class="sidebar-header text-center py-5">
            <h1>LOGO</h1>
        </div>
        <div class="text-center py-3">
            
            <p class="h6"><br> <br> <br> <br><br> <br><br> <br> <br> <br> <br> </p>
        </div>
		<div class="container">
  <div class="row">
    <div class="col-sm">
        <!-- <form>
  <div class="form-group ">
    <label for="exampleInputEmail1">Correo electrónico</label>
    <input type="email" class="form-control bg-light px-2" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Escriba el correo electrónico">
    
  </div>
        </form>
   </div>
    </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Contraseña</label>
    <input type="password" class="form-control bg-light px-2" id="exampleInputPassword1" placeholder="Contraseña">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Mantenme logeado</label>
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
</div>
-->		
		<form action="/app/landing" method="post">
    {% csrf_token %}
	{% for field in form.visible_fields %}
	
    <div class="form-group">
      {{ field.label_tag }}
      {{ field }}
      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>
  {% endfor %}
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
        <ul class="list-unstyled text-center py-4">
		¿No tienes cuenta? &nbsp;
            <a href="/app/registro"><button type="button" class="btn btn-primary">Crear cuenta</button></a>
        </ul>
		
    </nav>
	
	<nav id="sidebar2">
<div class="sidebar-header text-center py-4">
    <br>
            <h1>Acerca del proyecto</h1>
        </div>
		
		<div class="sidebar-header text-center px-4">
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu augue ut lectus arcu bibendum. Diam quis enim lobortis scelerisque fermentum dui. Nibh sed pulvinar proin gravida hendrerit lectus a. Ultricies integer quis auctor elit sed. Facilisis gravida neque convallis a cras. Proin nibh nisl condimentum id venenatis a condimentum. Lobortis elementum nibh tellus molestie nunc. Curabitur vitae nunc sed velit dignissim. Sit amet volutpat consequat mauris nunc congue. Varius vel pharetra vel turpis nunc eget. Amet porttitor eget dolor morbi. Cursus vitae congue mauris rhoncus aenean vel elit scelerisque mauris. Venenatis urna cursus eget nunc scelerisque viverra mauris in.</h4>
        </div>
		<div class="sidebar-header text-center py-5">
            <h1>Recoleccion de datos</h1>
        </div>
		
		<div class="sidebar-header text-center px-4">
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu augue ut lectus arcu bibendum. Diam quis enim lobortis scelerisque fermentum dui. Nibh sed pulvinar proin gravida hendrerit lectus a. Ultricies integer quis auctor elit sed. Facilisis gravida neque convallis a cras. Proin nibh nisl condimentum id venenatis a condimentum. Lobortis elementum nibh tellus molestie nunc. Curabitur vitae nunc sed velit dignissim. Sit amet volutpat consequat mauris nunc congue. Varius vel pharetra vel turpis nunc eget. Amet porttitor eget dolor morbi. Cursus vitae congue mauris rhoncus aenean vel elit scelerisque mauris. Venenatis urna cursus eget nunc scelerisque viverra mauris in.</h4>
        </div>
	
	</nav>
	

    
  



    </div>




<!-- BOOTSTRAP JS, DO NOT DELETE -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/toggleName.js"></script>
</body>

</html>